@model PhotoCommentsViewModel
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="@Model.Url" class="card-img" />
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    @Model.ResX x @Model.ResY
                </div>
                <div class="card-body">
                    <h5>Add Comment</h5>
                    <form class="form-inline" method="post" role="form">
                        <div class="form-group">
                            <input class="form-control" type="text" name="content" placeholder="Your comments" required/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default text-white" type="submit">Add</button>
                        </div>
                    </form>
                    <h4> Comments: </h4>
                    <ul class="list-group list-group-flush ">
                        @if (Model.Comments.Any())
                        {
                            @foreach (var comment in Model.Comments)
                            {
                                <li class="list-group-item bg-dark border-white">
                                    <div>
                                        <span class="ml-auto font-weight-bold"> @comment.UserName</span> @comment.Date
                                        @if (User.IsInRole("Admin") || User.Identity.Name == comment.UserName)
                                        {
                                            <span class="dropdown float-right font-weight-bold">
                                                <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    . . .
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dLabel">
                                                    <form asp-action="DeleteComment" asp-route-id="@comment.ID" asp-route-photoId="@Model.ID" method="post">
                                                        <button class="dropdown-item" type="button" onclick="    document.getElementById(17B).hidden = false;"> Edit Comment</button>
                                                        <button class="dropdown-item" type="submit" > Delete Comment</button>
                                                    </form>
                                                </div>
                                            </span>
                                        }
                                    </div>
                                    <form asp-action="UpdateComment" asp-route-id="@comment.ID" asp-route-photoId="@Model.ID" method="post">
                                        <textarea id="@comment.ID" disabled>@comment.Content</textarea>
                                        @{var str = comment.ID + "B";}
                                        <button id="@str" hidden type="submit" onclick="this.hidden=true">OK</button>
                                    </form>
                          
                                </li>
                            }
                        }
                        else
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <p>Siema</p>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Links {
<script src="~/js/site.js"></script>
}
